
.main-header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  
  
  &__background {    
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    user-select: none;

  }

  &__rocket {
    margin: 0;
    padding: 0;
    //width: calc(40px + (200 - 40) * ((100vw - 320px) / (1920 - 320)));
    width: vw(120);
    display: flex;
    position: absolute;
    top: vw(30);
    right: vw(50);
    user-select: none;
    animation: swing 5s linear infinite;
  }

  &__animal {
    margin: 0;
    padding: 0;
    //width: calc(80px + (200 - 80) * ((100vw - 320px) / (1920 - 320)));
    width: vw(200);
    display: flex;
    position: absolute;
    top: vw(140);
    left: vw(140);
    user-select: none;
    animation: swing 5s linear infinite;
  }

  &__girl-block {
    margin: 0;
    padding: 0;
    width: vw(200);
    display: flex;    
    position: absolute;
    top: vw(650);
    left: 0;
    user-select: none;
  }

  &__girl {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
  }

  &__circle {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;

    &_1 {
      width: vw(140);
      right: vw(-60);
      top: vw(-80);
    }

    &_2 {
      width: vw(70);
      right: vw(40);
      top: vw(30);
    }

    &_3 {
      width: vw(40);
      right: vw(120);
      top: vw(80);
    }
  }

  
}

.logo {
  margin: 0;
  padding: 0;
  //width: calc(115px + (500 - 115) * ((100% - 320px) / (1920 - 320)));
  width: vw(370);
  user-select: none;
  display: flex;
  position: absolute;
  z-index: 2;
  top: vw(100);
  animation: swing 5s linear infinite;
}

.header {
  margin: 0;
  padding: vw(40) vw(70) vw(20) vw(140);
  width: 100%;
  //height: calc(80px + (200 - 80) * ((100vw - 320px) / (1920 - 320)));
  min-height: vw(120);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.subscribe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  gap: 1vw;
  align-items: center;
  cursor: pointer;

  &:hover &__text {
      @include anim();
      color: $orange;
  }

  &:hover &__icon {
    path {
      @include anim();
      stroke: $orange;
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    font-family: 'Playfair Display';
    font-style: italic;
    color: $pink;
    font-size: 2vw;
    @include anim();
  }

  &__icon {
    display: flex;
    vertical-align: middle;
    width: 12vw;
    height: auto;

    path {
      @include anim();
      stroke: $pink;
    }
}
}

.search {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__button {
    margin: 0;
    padding: 0;
    width: vw(70);
    display: flex;
    margin-right: vw(50);
    cursor: pointer;
  }

  &__icon {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
  }

  &__input {
    margin: 0;
    padding: 0;
    display: flex;
    width: vw(1000);
    background-color: inherit;
    border: none;
    border-bottom: 0.2vw solid #F5F1D4;
    color: #F5F1D4;
    font-family: "PlayfairDisplay-Regular";
    font-size: 2vw;
  }

  &__menu {
    margin: 0;
    padding: 0;
    width: vw(400);
    display: flex;
    margin-left: vw(100);
    cursor: pointer;
  }

  &__menu-icon {
    display: flex;
    width: 100%;
    height: auto;
    

    line {
      transition: all .2s ease-in-out;
    }
    path:nth-child(1) {
      transition: all .2s ease-in-out;
    }

    &:hover {
      line {
        stroke: #F5F1D4;
        transition: all .2s ease-in-out;
      }

      path:nth-child(1) {
        fill: #F26553;
       }
    }
  }
}
