
.section {

  &_main-newsletter {
    margin: 0;
    padding-bottom: vw(330);
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

}

.main-newsletter {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vw;
  position: relative;

  @media (max-width: 768px) {
    & {
      align-items: center;
      gap: 18vw;
    }
  }

  &__tap {
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;

    @media (max-width: 768px) {
      & {
        display: flex;
      }
    }

    img {
      width: 100%;
    }
  }

  &__title {
    padding: 0 vw(100) 0 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    text-align: center;
    font-family: "Form-Bold";
    font-size: 8vw;
    text-transform: uppercase;
    color: $yellow;
    line-height: 1;

    @media (max-width: 768px) {
      & {
        padding: vw(20) 0 0 0;
        width: 100%;
        font-size: 30vw;
        word-wrap: break-all;
        line-height: 0.8;
      }
    }
  }

  &__subscribe {
    padding: 0 vw(300) 0 0;
    margin: 0;
    display: flex;

    @media (max-width: 768px) {
      & {
        flex-direction: column;
        align-items: center;
        padding: 0;
      }
    }
  }

  &__subscribe-text {
    @media (max-width: 768px) {
      & {
        font-size: 8vw;
      }
    }
  }

  &__subscribe-icon {
    @media (max-width: 768px) {
      & {
        width: 36vw;
        height: 9vw;  
      }
    }
  }

  &__akbar {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    right: vw(0);
    top: vw(30);
    width: vw(390);
    z-index: 2;
    animation: swing 5s linear infinite;

    @media (max-width: 768px) {
      & {
        width: vw(1000);
        right: vw(-200);
        top: vw(450);
      }
    }
  }

  &__wave {
    display: flex;
    position: absolute;
    top: vw(-160);
    z-index: 2;
    width: vw(434);

    @media (max-width: 768px) {
      & {
        display: none;
      }
    }
  }

  &__asteroids {
    display: flex;
    position: absolute;
    top: vw(-150);
    right: 0;
    width: vw(250);

    @media (max-width: 768px) {
      & {
        width: 80vw;
        top: 80vw;
      }
    }
  }

  &__author {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: vw(-500);
    width: vw(350);

    @media (max-width: 768px) {
    & {
      display: none;
    }
  }
  }

  &__print {
    display: flex;
    position: absolute;
    width: vw(330);
    top: vw(700);
    left: vw(40);

    @media (max-width: 768px) {
      & {
        margin: 0;
        padding: 0;
        position: relative;
        top: vw(400);
        left: 0;
        width: 100%;
      }
    }
  }

  &__link {
    position: absolute;
    display: flex;
    width: vw(300);
    z-index: 3;
    top: vw(-100);
    left: vw(310);

    @media (max-width: 768px) {
      & {
        display: none;
      }
    }

    &:hover & img{
      line {
        stroke: #F5F1D4;
        transition: all .2s ease-in-out;
      }

      path:nth-child(1) {
        fill: #F26553;
      }
    }

    img {
      width: 100%;
    }
  }

  &__els {
    margin: 0;
    padding: 0;
    display: flex;
  }
}