
.main-header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
  
  
  &__background {    
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    user-select: none;
  }

  &__rocket {
    margin: 0;
    padding: 0;
    //width: calc(40px + (200 - 40) * ((100vw - 320px) / (1920 - 320)));
    width: vw(200);
    display: flex;
    position: absolute;
    top: vw(43);
    right: vw(23);
    user-select: none;
  }

  &__animal {
    margin: 0;
    padding: 0;
    //width: calc(80px + (200 - 80) * ((100vw - 320px) / (1920 - 320)));
    width: vw(300);
    display: flex;
    position: absolute;
    top: vw(250);
    left: vw(200);
    user-select: none;
  }

  &__girl-block {
    margin: 0;
    padding: 0;
    width: vw(350);
    display: flex;    
    position: absolute;
    top: vw(1000);
    left: 0;
    user-select: none;
  }

  &__girl {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
  }

  &__circle {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;

    &_1 {
      width: vw(200);
      right: vw(-100);
      top: vw(-20);
    }

    &_2 {
      width: vw(100);
      right: vw(40);
      top: vw(100);
    }

    &_3 {
      width: vw(50);
      right: vw(150);
      top: vw(150);
    }
  }

  
}

.logo {
  margin: 0;
  padding: 0;
  width: calc(115px + (500 - 115) * ((100% - 320px) / (1920 - 320)));
  width: vw(500);
  user-select: none;
  display: flex;
  position: absolute;
  z-index: 2;
  top: vw(200);
  //margin-left: vw(0);
  //text-align: center;
  //left: 50%;
  //transform: translateX(-50%);
}

.header {
  margin: 0;
  padding: vw(100) vw(100) vw(40) vw(200);
  width: 100%;
  //height: calc(80px + (200 - 80) * ((100vw - 320px) / (1920 - 320)));
  min-height: 15vw;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.subscribe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: vw(10);
  cursor: pointer;

  &__text {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    font-family: 'Playfair Display';
    font-style: italic;
    color: $pink;
    font-size: 2vw;
    
  }

  &__icon {
    display: flex;
    vertical-align: middle;
    width: 10vw;
    height: 2vw;

    path {
       //  @include anim();
    }
}
}

.search {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__button {
    margin: 0;
    padding: 0;
    width: vw(70);
    display: flex;
    margin-right: vw(50);
    cursor: pointer;
  }

  &__icon {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
  }

  &__input {
    margin: 0;
    padding: 0;
    display: flex;
    width: vw(1000);
    background-color: inherit;
    border: none;
    border-bottom: 0.2vw solid #F5F1D4;
    color: #F5F1D4;
    font-family: "PlayfairDisplay-Regular";
    font-size: 2vw;
  }

  &__menu {
    margin: 0;
    padding: 0;
    width: vw(400);
    display: flex;
    margin-left: vw(100);
    cursor: pointer;
  }

  &__menu-icon {
    display: flex;
    width: 100%;
    height: auto;
    

    line {
      transition: all .2s ease-in-out;
    }
    path:nth-child(1) {
      transition: all .2s ease-in-out;
    }

    &:hover {
      line {
        stroke: #F5F1D4;
        transition: all .2s ease-in-out;
      }

      path:nth-child(1) {
        fill: #F26553;
       }
    }
  }
}