.section {

  &_second-articles {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    //overflow: hidden;
    padding-bottom: vw(90);
    background-color: aquamarine;
  }
}

.second-articles {
  margin: 0;
  padding: 0 vw(90);
  width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 2vw;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.article {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}