@import "../vendor/fonts/fonts.css";
@import "../vendor/normalize.css";
button {
  background-color: inherit;
  border: none;
}

body {
  background-color: palegreen;
  color: #fff;
  min-width: 320px;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-width: 320px;
  max-width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input:focus, input:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
  outline: none;
}

.main-header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
}
.main-header__background {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  user-select: none;
}
.main-header__rocket {
  margin: 0;
  padding: 0;
  width: 9.375%;
  display: flex;
  position: absolute;
  top: 2.34375%;
  right: 3.90625%;
  user-select: none;
}
.main-header__animal {
  margin: 0;
  padding: 0;
  width: 15.625%;
  display: flex;
  position: absolute;
  top: 10.9375%;
  left: 10.9375%;
  user-select: none;
}
.main-header__girl-block {
  margin: 0;
  padding: 0;
  width: 15.625%;
  display: flex;
  position: absolute;
  top: 50.78125%;
  left: 0;
  user-select: none;
}
.main-header__girl {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}
.main-header__circle {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
}
.main-header__circle_1 {
  width: 10.9375%;
  right: -4.6875%;
  top: -6.25%;
}
.main-header__circle_2 {
  width: 5.46875%;
  right: 3.125%;
  top: 2.34375%;
}
.main-header__circle_3 {
  width: 3.125%;
  right: 9.375%;
  top: 6.25%;
}

.logo {
  margin: 0;
  padding: 0;
  width: 28.90625%;
  user-select: none;
  display: flex;
  position: absolute;
  z-index: 2;
  top: 7.8125%;
}

.header {
  margin: 0;
  padding: 3.125% 5.46875% 1.5625% 10.9375%;
  width: 100%;
  min-height: 9.375%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.subscribe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.78125%;
  cursor: pointer;
}
.subscribe__text {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  font-family: "Playfair Display";
  font-style: italic;
  color: #EFA29E;
  font-size: 2vw;
}
.subscribe__icon {
  display: flex;
  vertical-align: middle;
  width: 12vw;
  height: 3vw;
}
.subscribe__icon path {
  transition: all 0.2s ease-in-out;
}

.search {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search__button {
  margin: 0;
  padding: 0;
  width: 5.46875%;
  display: flex;
  margin-right: 3.90625%;
  cursor: pointer;
}
.search__icon {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
.search__input {
  margin: 0;
  padding: 0;
  display: flex;
  width: 78.125%;
  background-color: inherit;
  border: none;
  border-bottom: 0.2vw solid #F5F1D4;
  color: #F5F1D4;
  font-family: "PlayfairDisplay-Regular";
  font-size: 2vw;
}
.search__menu {
  margin: 0;
  padding: 0;
  width: 31.25%;
  display: flex;
  margin-left: 7.8125%;
  cursor: pointer;
}
.search__menu-icon {
  display: flex;
  width: 100%;
  height: auto;
}
.search__menu-icon line {
  transition: all 0.2s ease-in-out;
}
.search__menu-icon path:nth-child(1) {
  transition: all 0.2s ease-in-out;
}
.search__menu-icon:hover line {
  stroke: #F5F1D4;
  transition: all 0.2s ease-in-out;
}
.search__menu-icon:hover path:nth-child(1) {
  fill: #F26553;
}

.article-main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.article-main__tag {
  margin: 0;
  padding: 0;
  width: 6.25%;
  display: flex;
  font-family: "Form-Bold";
  color: #0D0D1A;
  font-size: 38.28125%;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #F5F1D4;
  margin-bottom: 1.5625%;
}
@media (max-width: 768px) {
  .article-main__tag {
    padding-top: 6.25%;
    width: 11.71875%;
  }
}
.article-main__tag-logo {
  width: 100%;
}
.article-main__link {
  margin: 0;
  padding: 0;
  display: flex;
  color: #F5F1D4;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.article-main__link:hover {
  color: #F26553;
  transition: all 0.2s ease-in-out;
}
.article-main__link:active {
  color: #F5F1D4;
  transition: all 0.2s ease-in-out;
}
.article-main__title {
  margin: 0;
  padding: 0 0 0.78125% 0;
  display: flex;
  box-sizing: border-box;
  font-size: calc(28px + 21 * (100vw - 320px) / 1600);
  line-height: 1;
  font-family: "Form-Bold";
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: calc(290px + 310 * (100vw - 320px) / 1600);
  margin: 0 auto;
}
.article-main__wr {
  padding: 0 4.6875%;
  margin: 0 0 calc(10px + 10 * (100vw - 320px) / 1600) 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  gap: 2.34375%;
  font-family: "PlayfairDisplay-Regular";
  color: #FFD4F3;
}
.article-main__autor {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: calc(10px + 10 * (100vw - 320px) / 1600);
}
.article-main__time {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: calc(10px + 10 * (100vw - 320px) / 1600);
  opacity: 0.5;
}
.article-main__img-wr {
  display: inline-block;
  width: 109.375%;
  height: 93.75%;
  width: calc(282px + 1058 * (100vw - 320px) / 1600);
  height: calc(220px + 200 * (100vw - 320px) / 1600);
}
.article-main__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  position: relative;
}
.section_main-article {
  box-sizing: border-box;
  flex-direction: column;
  background-color: black;
}
@media (max-width: 768px) {
  .section_main-article {
    padding-bottom: 7.8125%;
  }
}

.front-el {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
@media (max-width: 768px) {
  .front-el {
    position: relative;
    padding: 7.8125% 0;
  }
}
.front-el__rwave {
  top: 21.875%;
  right: 0;
  width: 35.15625%;
  position: absolute;
}
@media (max-width: 767px) {
  .front-el__rwave {
    position: absolute;
    width: 70.3125%;
    top: 78.125%;
  }
}
.front-el__lwave {
  top: 70.3125%;
  left: 0;
  width: 42.578125%;
  transform: translateY(-50px);
  position: absolute;
}
@media (max-width: 767px) {
  .front-el__lwave {
    position: absolute;
    width: 93.75%;
    top: -11.71875%;
  }
}
.front-el__text {
  top: 34.375%;
  left: 0.390625%;
  width: 12.5%;
  position: absolute;
}
@media (max-width: 767px) {
  .front-el__text {
    position: relative;
    display: flex;
    width: 44.53125%;
    top: 0%;
    left: 0%;
  }
}

.section_main-quotes {
  margin: 0;
  padding: 7.8125% 7.8125% 15.625% 7.8125%;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 4.6875%;
  background-color: black;
}
@media (max-width: 768px) {
  .section_main-quotes {
    padding-top: 15.625%;
    padding-bottom: 3.125%;
    flex-direction: column;
    align-items: center;
    gap: 8vw;
  }
}

.main-quote {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  justify-content: start;
  z-index: 1;
}
.main-quote_pink {
  color: #EFA29E;
}
.main-quote_mint {
  color: #BEFFEF;
}
@media (max-width: 768px) {
  .main-quote {
    width: calc(260px + 440 * (100vw - 320px) / 1600);
    align-items: center;
    gap: 4vw;
  }
}
.main-quote__tag {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Form-Bold";
  text-transform: uppercase;
}
.main-quote__tag img {
  width: calc(40px + 60 * (100vw - 320px) / 1600);
}
.main-quote__title {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  font-family: "Form-Bold";
  text-transform: uppercase;
  font-size: calc(24px + 12 * (100vw - 320px) / 1600);
  font-size: 2vw;
  line-height: 1.1;
  letter-spacing: -1.3px;
}
@media (max-width: 768px) {
  .main-quote__title {
    font-size: calc(24px + 16 * (100vw - 320px) / 1600);
    line-height: 1;
  }
}

.front {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: none;
  z-index: 0;
}
@media (max-width: 768px) {
  .front {
    display: flex;
  }
}
.front__asteroids {
  margin: 0;
  padding: 0;
  width: 46.875%;
  position: absolute;
  left: 0%;
  top: 23.4375%;
}
.front__blick {
  margin: 0;
  padding: 0;
  width: 15.625%;
  position: absolute;
  left: 0%;
  top: 0%;
}
.front__quazar {
  margin: 0;
  padding: 0;
  width: 15.625%;
  position: absolute;
  left: 0%;
  top: 78.125%;
}
.front__sputnik {
  margin: 0;
  padding: 0;
  width: 39.0625%;
  position: absolute;
  right: -7.8125%;
  top: 54.6875%;
}

.section_main-newsletter {
  margin: 0;
  padding-bottom: 25.78125%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.main-newsletter {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vw;
  position: relative;
}
@media (max-width: 768px) {
  .main-newsletter {
    align-items: center;
    gap: 18vw;
  }
}
.main-newsletter__tap {
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
}
@media (max-width: 768px) {
  .main-newsletter__tap {
    display: flex;
  }
}
.main-newsletter__tap img {
  width: 100%;
}
.main-newsletter__title {
  padding: 0 7.8125% 0 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  text-align: center;
  font-family: "Form-Bold";
  font-size: 8vw;
  text-transform: uppercase;
  color: #F5F1D4;
  line-height: 1;
}
@media (max-width: 768px) {
  .main-newsletter__title {
    padding: 1.5625% 0 0 0;
    width: 100%;
    font-size: 30vw;
    word-wrap: break-all;
    line-height: 0.8;
  }
}
.main-newsletter__subscribe {
  padding: 0 23.4375% 0 0;
  margin: 0;
  display: flex;
}
@media (max-width: 768px) {
  .main-newsletter__subscribe {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .main-newsletter__subscribe-text {
    font-size: 8vw;
  }
}
@media (max-width: 768px) {
  .main-newsletter__subscribe-icon {
    width: 36vw;
    height: 9vw;
  }
}
.main-newsletter__akbar {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  right: 0%;
  top: 2.34375%;
  width: 30.46875%;
  z-index: 2;
}
@media (max-width: 768px) {
  .main-newsletter__akbar {
    width: 78.125%;
    right: -15.625%;
    top: 35.15625%;
  }
}
.main-newsletter__wave {
  display: flex;
  position: absolute;
  top: -12.5%;
  z-index: 2;
  width: 33.90625%;
}
@media (max-width: 768px) {
  .main-newsletter__wave {
    display: none;
  }
}
.main-newsletter__asteroids {
  display: flex;
  position: absolute;
  top: -11.71875%;
  right: 0;
  width: 19.53125%;
}
.main-newsletter__author {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: -39.0625%;
  width: 27.34375%;
}
@media (max-width: 768px) {
  .main-newsletter__author {
    display: none;
  }
}
.main-newsletter__print {
  display: flex;
  position: absolute;
  width: 25.78125%;
  top: 54.6875%;
  left: 3.125%;
}
@media (max-width: 768px) {
  .main-newsletter__print {
    margin: 0;
    padding: 0;
    position: relative;
    top: 31.25%;
    left: 0;
    width: 100%;
  }
}
.main-newsletter__link {
  position: absolute;
  display: flex;
  width: 23.4375%;
  z-index: 3;
  top: -7.8125%;
  left: 24.21875%;
}
@media (max-width: 768px) {
  .main-newsletter__link {
    display: none;
  }
}
.main-newsletter__link img {
  width: 100%;
}
.main-newsletter__els {
  margin: 0;
  padding: 0;
  display: flex;
}

.section_second-articles {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 7.03125%;
  background-color: aquamarine;
}

.second-articles {
  margin: 0;
  padding: 0 7.03125%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 2vw;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.article {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
