// Fonts
$font-PD: "PlayfairDisplay-Regular", sans-serif, Arial;
$font-Form: "Form-Bold", sans-serif, Arial;
$font-RHD: "RedHatDisplay-Regular", sans-serif, Arial;

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('PlayfairDisplay-Regular', normal, 400, '../vendor/fonts/PlayfairDisplay-Regular.woff2');
@include font('Form-Bold', normal, 700, '../vendor/fonts/Form-Bold.woff2');

@include font('RedHatDisplay-Regular', normal, 400, '../vendor/fonts/RedHatDisplay-Regular.woff2');
@include font('RedHatDisplay-Regular', normal, 300, '../vendor/fonts/RedHatDisplay-Light.woff2');

// Color
$green: #00C652;
$pink: #EFA29E;
$yellow: #F5F1D4;
$orange: #F26553;
$mint: #BEFFEF;
$brown: #A54A3E;

@mixin anim() {
  transition: all .2s ease-in-out;
}

@mixin rotate($time) {
  animation: swing $time linear infinite;
}

@keyframes swing {
  from {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

@function vw($value, $size: 1280) {
  @return calc($value / $size * 100%);
}

//@function vvww($min, $max, $size: 1280) {
//  @return calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - 320px) / (#{$size} - 320)));
//}

button {
  background-color: inherit;
  border: none;
}

body {
  background-color: #0D0D1A;
  color: #fff;
  min-width: 320px;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 100vw;
  overflow: hidden;
}

.content {
  width: 100%;
  overflow: hidden;
}


input,
textarea,
a {

	&:focus,
	&:active {
		outline: none;
	}
}

a {
  text-decoration: none;
}